.country img{
width: 250px;
height: auto;
border-radius: 10px;
}
.country{
    margin-left: 120px;
  width: 250px;
  text-align: center;
  border: none;
  background: gray;
  border-radius: 10px;
  margin-top: 15px;

}
.country button{
    border: none;
    padding: 7px 25px;
    background: lightsalmon;
    color: blue;
    margin-bottom: 10px;
    border-radius: 10px;
}
