.App {
  
  text-align: center;
}
.App h2{
color: lightsalmon;
text-align: center;
font-size: 30px;
text-transform: uppercase;
}
.App h5{
  color: lightsalmon;
  text-align: center;
  text-transform: uppercase;
  }
.country-details{
  display: grid;
  grid-template-columns: repeat(3,1fr);
 
 
}




